.main {
  width: calc(100vw - 21em);
  min-height: calc(100vh - 140px);
  margin: 0 auto;
  position: relative;
}

@media all and (max-width: 800px) {
  .main {
    width: 100vw;
    padding: 0 1em;
  }
}
