.header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  padding: 0 10em;
  align-items: center;
}

.logo, .logoMobile {
  flex-grow: .5;
  background: #0052D4;
  background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.logoMobile {
  display: none;
}

.nav, .navTwo {
  flex-grow: 2;
}

.navigator ul {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigator ul li {
  font-weight: 900;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  position: relative;
  color: inherit;
  z-index: 1;
  padding: 0.2em 0.7em;
}

.navBtn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: .65em;
  bottom: 0.55em;
  transform: rotateZ(-7deg);
  z-index: -1;
  opacity: .3;
}

.navBtn.home::before {
  background-color: #ff0000;
}

.navBtn.about::before {
  background-color: #00ff00ff;
}

.navBtn.projects::before {
  background-color: #8a2be2;
}

.navBtn.contact::before {
  background-color: #ffd700;
}

.navBtn:hover,
.navBtn.active {
  border-radius: 9999px;
  color: #ffffff;
  opacity: .5;
}

.navBtn.home:hover,
.navBtn.home.active {
  background-color: #ff0000;
}

.navBtn.about:hover,
.navBtn.about.active{
  background-color: #00ff00ff;
  color: #000000;
}

.navBtn.projects:hover,
.navBtn.projects.active {
  background-color: #8a2be2;
}

.navBtn.contact:hover,
.navBtn.contact.active {
  background-color: #ffd700;
  color: #111111;
  opacity: .8;
}


.navBtn:hover::before,
.navBtn.active::before {
  background-color: transparent;
}

@media all and (max-width: 970px) {
  .header {
    flex-direction: row;
    padding: 1em .5em;
    align-items: center;
  }

  .logo {
    display: none;
  }
}

@media all and (max-width: 970px) {
  .header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
  }
  .logoMobile {
    display: block;
    grid-column-start: span 3;
  }
  .nav {
    grid-column-start: span 2;
  }
}
