.aboutContainer {
  padding: 0 10em;
}
.aboutBox {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  font-family: monospace;
}

.aboutText {
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutText:first-letter {
  font-size: 22px;
  font-weight: 900;
  letter-spacing: -1px;
}

.aboutText:nth-child(2) {
  display: block;
  width: 90%;
  margin: 0 auto
}

.photo {
  width: 250px;
  height: 250px;
  border-radius: 999999px;
  background-image: url("../public/img/profile.jpeg");
  background-size: cover;
  background-position: center top;
}

.element {
  float: left;
  shape-outside: circle(50%);
  width: 250px;
  height: 250px;
  margin-right: .5em;
}

.skillsBoxTitle {
  font-weight: 900;
  font-size: 32px;
  height: 50px;
  text-align: center;
  margin: 2em 0 0 0;
}

.skillsBoxContainer {
  display: grid;
  grid-template-columns:  1fr 1fr;
  row-gap: 1em;
  padding-right: 2em;
}

.skillsCategory {
  background-color: color(display-p3 0.8314 0.8078 0.7529);
  padding: 1em 2em;
  margin-right: -2em;
  border: 2px solid #fff;
  border-radius: 99999px;
}

.skillsContainer {
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  column-gap: 5px;
}

.skillsTitle {
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}

.skill {
  font-size: 13px;
}

.experienceBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: 1fr;
}

.experience {
  border-radius: 32px;
  padding: 32px 32px;
  color: #ffffff;
}

.experience:first-child {
  background-color: #e41e1d;
}

.experience:nth-child(2) {
  background-color: #0071ce;
}

.experience:nth-child(3) {
  background: #54aeee;
}

.experience:nth-child(4) {
  background-color: #3e54d3;
}

.experience:nth-child(5) {
  background-color: #35784d;
}

.experience:nth-child(6) {
  background-color: #fc8d00;
}

.companyName {
  font-size: 24px;
  font-weight: 700;
}

.jobTitle {
  font-style: italic;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.48);
  padding-bottom: .5em;
  border-bottom: 2px solid rgba(15, 40, 12, 0.51);
}

.experience:first-child .jobTitle {
  border-bottom: 2px solid rgba(119, 119, 119, 0.51);
}

.jobDescription {
  padding: 1em 0;
  font-size: 15px;
  text-align: justify;
  min-height: 100px;
}

.jobPeriod {
  background-color: #0f270c;
  color: #ecfeef;
  border-radius: 12px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  height: 40px;
  padding: 9px 28px 0 28px;
  text-decoration: none;
  float: right;
}

.experience:first-child .jobPeriod {
  background-color: #ffffff;
  color: #000000;
}

.jobLogo {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  background-color: white;
  background-size: 50%;
  position: relative;
  float: right;
  margin: -25px 0 0 0;
}

.experience:first-child .jobLogo {
  background-image: url('../public/img/cocacola.svg');
}

.experience:nth-child(2) .jobLogo {
  background-image: url('../public/img/walmart.png');
  background-size: 70%;
}

.experience:nth-child(3) .jobLogo {
  background-image: url('../public/img/rocket.png');
}

.experience:nth-child(4) .jobLogo {
  background-image: url('../public/img/forcast.png');
}

.experience:nth-child(5) .jobLogo {
  background-image: url('../public/img/beltes.png');
}

.experience:nth-child(6) .jobLogo {
  background-image: url('../public/img/habtium.png');
}

@media all and (max-width: 1200px) {
  .skillsBoxContainer {
    grid-template-columns: 1fr;
  }
  .experienceBox {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 900px) {
  .experienceBox {
    grid-template-columns: 1fr;
    padding: 0 1em;
  }
}

@media all and (max-width: 800px) {
  .aboutContainer {
    padding: 0 1em;
  }
  .skillsBoxContainer {
    padding: 0 3em 0 1em;
  }
  .skillsCategory {
    border-radius: 32px;
    margin-bottom: -30px
  }
  .skillsContainer {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }
  .aboutBox {
    grid-template-rows: 1fr;
    row-gap: 5em;
  }
  .aboutText:first-child {
    margin-top: 2em;
    align-items: start;
  }
}
