.aboutBox {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.aboutText {
  text-align: justify;
  padding: .5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutText:nth-child(2) {
  display: block;
  width: 80%;
  margin: 0 auto
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 999999px;
  background-image: url("https://thie.dev/assets/img/me-large.jpeg");
  background-size: cover;
  background-position: center;
}

.element {
  float: left;
  shape-outside: circle(50%);
  width: 200px;
  height: 200px;
  margin-right: .5em;
}
