.intro {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  margin: 0;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: -1px;
  text-align: center;
}

.h1 span {
  background: #56ab2f;
  background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);
  background: linear-gradient(to left, #a8e063, #56ab2f);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.animation {
  background: #56ab2f;
  background: linear-gradient(to left, #a8e063, #56ab2f);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  position: fixed;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  padding: 50px 28px;
  font-size: 120px;
  transform: rotate(-90deg);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@keyframes bounce {
  0%,
  100% {
    top: 70px;
  }

  50% {
    top: 200px;
  }
}

@media all and (max-width: 1200px) {
  .h1 {
    font-size: 80px;
  }
}

@media all and (max-width: 970px) {
  .h1 {
    font-size: 50px;
    line-height: 40px;
    text-align: center;
  }
}
