.intro {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: rotate3d 8s linear infinite;
  transition: all .3s;
}

.photo__front,
.photo__back {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #E8D0BB;
}

.photo__front {
  background-image: url("../public/img/me.jpeg");
  background-size: cover;
  transform: translateZ(10px);
}

.photo__back {
  background-image: url("../public/img/me.jpeg");
  background-size: cover;
  transform: translateZ(-10px) rotateY(180deg);
}

@keyframes rotate3d {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes shine {
  0%, 15% {
    transform: translateY(600px) rotate(-40deg);
  }
  50% {
    transform: translateY(-300px) rotate(-40deg);
  }
}


.element {
  float: left;
  shape-outside: circle(50%);
  width: 300px;
  height: 300px;
  margin-bottom: 3em;
}

.h1 {
  margin: 0;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: -1px;
  text-align: center;
}

.h1 span {
  background: #0052D4;
  background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

@media all and (max-width: 1200px) {
  .h1 {
    font-size: 80px;
  }
}

@media all and (max-width: 970px) {
  .h1 {
    font-size: 50px;
    line-height: 40px;
    text-align: center;
  }
}
